<!doctype html>
<html ng-app="mainApp">

<head>

<title>Index</title>
<link href="/css/estilos.css" rel="stylesheet" type="text/css">
<link async href="http://fonts.googleapis.com/css?family=Advent%20Pro" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

</head>



<body  ng-controller="productosController as productCtrl" >

<header id="cabezera"><img src="/img/header.jpg" width="999" height="183" alt=""/></header>

<nav id="menu">
    <ul>
        <li>inicio</li>
        <li>productos</li>
        <li>Registro</li>
        <li>Mi Carrito!!</li>
    </ul>
</nav>

<aside id="columna">
    <h1>Carrito</h1>

    <div ng-controller = "productosController as productCtl">
        <ul>
            <li ng-repeat="producto in productCtl.listaProductos">
             Nombre:{{producto.Nombre}} Precio:{{producto.Precio}} Imagen:{{producto.Imagen}}
            </li>
        </ul>
    </div>

    <div id="contenedorcarrito" ng-repeat="producto in productCtrl.listaProductos ">

        <div> <img   ng-src="{{producto.imagen}}">
            <h1> Nombre: {{ producto.nombre }}</h1>
            <p> Precio: {{ producto.precio}}</p>
            <p>Cantidad: {{producto.cantidad}}</p>
            <input type="text" ng-model="nuevacantidad">
            <button ng-click="agregarcantidad(producto)">agregarcantidad</button>
        </div>

    </div>

</aside>

<section id="seccion">

  <article id="article1">

    <header id="filtro"> filtros <input type="text" placeholder="Buscar Producto" ng-model="buscar"></header>
    <table>
      <tr>
        <td width="351"><a href="" ng-click="ordenarPor('nombre')">Nombre</a></td>
      </tr>
    </table>

  </article>

  <article id="articulo1">

    <table class="table table-striped">
      <tr ng-repeat="producto in productos | orderBy:ordenSeleccionado  | filter:buscar">
         <td id="contenedorimg" > <img   ng-src="{{producto.imagen}}"></td>
         <td id="contenedorarticulo"> 
            <h1>{{producto.nombre}}</h1>
            <p>{{producto.descripcion}}</p><br>
            {{ producto.precio | currency}}
         </td>
         <td><button id="boton" value="Botón normal"  ng-click="selectProducto(producto)"></button></td>
      </tr>
    </table>

  </article>
  
</section>

<center>
   <footer id="pie">Institucion Universitaria De Envigado</footer>
</center>

<script src="/angular/angular.min.js"></script>
<script src="/angular/controllers/productosController.js"></script>
<script src="/angular/services/productoService.js"></script>
<script src="/angular/main.js"></script>
</body>
</html>
